$formPadding: 10px 10px 10px 20px;

.root {
  display: flex;
  justify-content: center;
}

.viewContainer {
  min-width: 275px;
  background-color: #efefef;
  padding: 10px 40px 40px 40px;
  .balance {
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 20px;
    margin-left: 30px;
    .currencyType{
      margin-right: 15px;
      font-weight: bold;
    }
  }
  .tradeForm{
    width: 240px;
    .transaction {
      margin-left: 15px;
      margin-bottom: 15px;
    }
    .formInput, .formSelect, .quote {
      display: block;
      // margin: 10px 5px 10px 5px;
      margin-bottom: 20px;
      margin-left: 5px;
      margin-right: 5px;

    }
    .formInput {
      padding: $formPadding;
      border: 1px solid black;
      width: 83%;
    }
    .formSelect {
      .Select-control {
        border-radius: 0;
        border: 1px solid black;
        // width: 100%;
      }
      .Select-arrow-zone {
        display: none;
      }
    }
    .quote {
      padding: $formPadding;
      background-color: white;
      border: 1px solid black;
    }
    button {
      width: 245px;
      background-color: blue; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      height: 70px;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
    }
  }

}
