body {
  // line-height: 2;
}

.root {
  display: flex;
  justify-content: center;
}

.viewContainer {
  min-width: 300px;
  background-color: #efefef;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  .balance {
    .currencyType{
      font-weight: bold;
    }
  }
  .tradeForm{
    input, select, .quote {
      display: block;
      margin-bottom: 10px;
    }
    button {
      width: 200px;
    }
  }

}
